<!DOCTYPE html>
<html lang="en">
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<meta name="robots" content="">
	<meta name="description" content="MyIntro - CV/Resume HTML Template">
	<meta property="og:title" content="MyIntro - CV/Resume HTML Template">
	<meta property="og:description" content="MyIntro - CV/Resume HTML Template">
	<meta property="og:image" content="MyIntro - CV/Resume HTML Template">
	<meta name="format-detection" content="telephone=no">
	
	<!-- FAVICONS ICON -->
	<link rel="icon" href="images/favicon-1.ico" type="image/x-icon">
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon-1.png">
	
	<!-- PAGE TITLE HERE -->
	<title>MyIntro - CV/Resume HTML Template</title>

	<!-- MOBILE SPECIFIC -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	
	<!--[if lt IE 9]>
	<script src="js/html5shiv.min.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	
	<!-- STYLESHEETS -->
	<link rel="stylesheet" type="text/css" href="css/plugins-1.css">
	<link rel="stylesheet" type="text/css" href="css/style-1.css">
	<link rel="stylesheet" type="text/css" href="css/templete-1.css">
	<link rel="stylesheet" type="text/css" class="skin" href="css/skin/skin-1-1.css">
	<link href="../css-4?family=DM+Sans:400,400i,500,500i,700,700i&display=swap" rel="stylesheet">	
	<style>
		@import url('../css-3');
	</style>
</head>
<body>
<div id="loading-area"><p><span class="counter">100</span></p></div>
<div class="page-wraper">
	<!-- header -->
    <header class="site-header header-transparent header2">
		<!-- main header -->
        <div class="sticky-header main-bar-wraper navbar-expand-xl">
            <div class="main-bar clearfix">
                <div class="container-fluid clearfix">
                    <!-- website logo -->
                    <div class="logo-header">
						<a href="index-1.html"><img src="images/logo-black-1.png" alt=""></a>
					</div>
					<!-- extra nav -->
                    <div class="extra-nav">
                        <div class="extra-cell">
							<ul>
								<li><a href="contact-us-1.html"><span>Contact us?</span></a></li>
								<li><a href="javascript:void(0);" class="menu-btn active"><span>Menu</span><div class="menu"><span></span><span></span><span></span></div></a></li>
							</ul>
						</div>
                    </div>
                    <!-- main nav -->
                    <div class="header-nav icon-menu active">
						<ul class="nav navbar-nav">	
							<li><a href="index-1.html"><i class="ti-home"></i></a></li>
							<li><a href="about-us-1.html"><i class="ti-info-alt"></i></a></li>
							<li><a href="resume-1.html"><i class="ti-user"></i></a></li>
							<li><a href="portfolio-1.html"><i class="ti-layout-grid2"></i></a></li>
							<li class="active"><a href="contact-us-1.html"><i class="ti-headphone-alt"></i></a></li>
						</ul>	
                    </div>
                </div>
            </div>
        </div>
        <!-- main header END -->
    </header>
    <!-- header END -->
	<div class="dlab-bnr-inr text-center" data-content="Contact Us">
		<div class="container">
			<div class="dlab-bnr-inr-entry align-m text-center">
				<h1 class="text-white">Contact Us</h1>
				<!-- Breadcrumb row -->
				<div class="breadcrumb-row">
					<ul class="list-inline">
						<li><a href="index-1.html">Home</a></li>
						<li>Contact Us</li>
					</ul>
				</div>
				<!-- Breadcrumb row END -->
			</div>
		</div>
	</div>
	<div class="social-sidebar">
		<ul>
			<li><a target="_blank" href="https://www.facebook.com/dexignzone/">Facebook</a></li>
			<li><a target="_blank" href="https://twitter.com/dexignzones">Twitter</a></li>
			<li><a target="_blank" href="https://www.linkedin.com/in/dexignzone">Linkedin</a></li>
		</ul>
	</div>
	
	<div class="content-body">
		<div class="content-body-inner">
			
			<!-- About Info -->
			<div class="section-full">
				<div class="section-head">
					<h2 class="title text-uppercase">How Can I <span class="text-gradient">Help You</span>?</h2>
				</div>
				<div class="contact-form">
					<form method="post" class="dzForm dezPlaceAni" action="script/contact_smtp.php">
						<div class="dzFormMsg"></div>
						<input type="hidden" value="Contact" name="dzToDo">
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<i class="las la-user text-gradient"></i>
									<label>Your Name</label>
									<input name="dzName" type="text" required="" class="form-control ">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<i class="las la-envelope-open text-gradient"></i>
									<label>Your Email Address</label>
									<input name="dzEmail" type="email" class="form-control" required="">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<i class="las la-phone-volume text-gradient"></i>
									<label>Phone Number</label>
									<input name="dzPhoneNumber" type="text" required="" class="form-control ">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<i class="las la-file-alt text-gradient"></i>
									<label>Subject</label>
									<input name="dzSubject" type="text" class="form-control" required="">
								</div>
							</div>
							<div class="col-sm-12">
								<div class="form-group">
									<i class="las la-envelope-open text-gradient"></i>
									<label>Your Message</label>
									<textarea name="dzMessage" rows="4" class="form-control" required=""></textarea>
								</div>
							</div>
							<div class="col-md-12 m-b20 m-xs-b0 ">
								<div class="g-recaptcha" data-sitekey="6LefsVUUAAAAADBPsLZzsNnETChealv6PYGzv3ZN" data-callback="verifyRecaptchaCallback" data-expired-callback="expiredRecaptchaCallback"></div>
								<input class="form-control d-none" style="display:none;" data-recaptcha="true" required="" data-error="Please complete the Captcha">
							</div>
							<div class="col-md-12">
								<button name="submit" type="submit" value="Submit" class="site-button button-gradient button-md radius-no">Send Message</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			
			<!-- Contact Info -->
			<div class="section-full content-inner">
				<div class="row sp40">
					<div class="col-xl-4 col-lg-6 col-md-6 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
						<div class="icon-bx-wraper service-box m-b40 contact-box" data-content="Address">
							<div class="icon-content">
								<h4 class="dlab-tilte text-uppercase"><i class="las la-map-marker text-gradient"></i> Address</h4>
								<p>8901 Marmora Road Chi Minh City, Vietnam</p>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-lg-6 col-md-6 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.4s">
						<div class="icon-bx-wraper service-box m-b40 contact-box" data-content="Email">
							<div class="icon-content">
								<h4 class="dlab-tilte text-uppercase"><i class="las la-envelope-open text-gradient"></i> Email</h4>
								<p><a href="javascript:void(0);">info@example.com</a><br><a href="javascript:void(0);">info@example.com</a></p>
							</div>
						</div>
					</div>
					<div class="col-xl-4 col-lg-6 col-md-12 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.6s">
						<div class="icon-bx-wraper service-box m-b40 contact-box" data-content="Phone">
							<div class="icon-content">
								<h4 class="dlab-tilte text-uppercase"><i class="las la-phone-volume text-gradient"></i> Phone</h4>
								<p>(+1) 123 456 7890<br>(+91) 987 654 3210</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Map -->
			<div class="section-full maps">
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d14445.871196953145!2d75.8417313!3d25.153677599999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1580295328844!5m2!1sen!2sin" style="border:0; width: 100%;" allowfullscreen=""></iframe>
			</div>
			
		</div>
	</div>
</div>
<!-- JavaScript  files ========================================= -->
<script src="js/jquery.min-1.js"></script><!-- JQUERY.MIN JS -->
<script src="plugins/bootstrap/js/popper.min-1.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="plugins/bootstrap/js/bootstrap.min-1.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="js/dz.ajax-1.js"></script><!-- CONTACT JS  -->
<script src="js/wow-1.js"></script><!-- WOW JS -->
<script src="plugins/counter/waypoints-min-1.js"></script><!-- WAYPOINTS JS -->
<script src="plugins/counter/counterup.min-1.js"></script><!-- COUNTERUP JS -->
<script src="js/custom-1.js"></script><!-- CUSTOM FUCTIONS  -->
<script src="plugins/switcher/switcher-1.js"></script><!-- SWITCHER JS -->
<script src='../recaptcha/api-1.js'></script> <!-- Google API For Recaptcha  -->
</body>
</html>
