<!DOCTYPE html>
<html lang="en">
<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<meta name="robots" content="">
	<meta name="description" content="MyIntro - CV/Resume HTML Template">
	<meta property="og:title" content="MyIntro - CV/Resume HTML Template">
	<meta property="og:description" content="MyIntro - CV/Resume HTML Template">
	<meta property="og:image" content="MyIntro - CV/Resume HTML Template">
	<meta name="format-detection" content="telephone=no">
	
	<!-- FAVICONS ICON -->
	<link rel="icon" href="images/favicon-1.ico" type="image/x-icon">
	<link rel="shortcut icon" type="image/x-icon" href="images/favicon-1.png">
	
	<!-- PAGE TITLE HERE -->
	<title>MyIntro - CV/Resume HTML Template</title>

	<!-- MOBILE SPECIFIC -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	
	<!--[if lt IE 9]>
	<script src="js/html5shiv.min.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	
	<!-- STYLESHEETS -->
	<link rel="stylesheet" type="text/css" href="css/plugins-1.css">
	<link rel="stylesheet" type="text/css" href="css/style-1.css">
	<link rel="stylesheet" type="text/css" href="css/templete-1.css">
	<link rel="stylesheet" type="text/css" class="skin" href="css/skin/skin-1-1.css">
	<link href="../css-4?family=DM+Sans:400,400i,500,500i,700,700i&display=swap" rel="stylesheet">	
	<style>
		@import url('../css-3');
	</style>
</head>
<body>
<div id="loading-area"><p><span class="counter">100</span></p></div>
<div class="page-wraper">
	<div class="error-page raincanvas" style="background-image:url(images/background/bg13-1.jpg); background-size:cover; background-position:center;">
		<div class="rainbox">
			<canvas class="rain-storm" id="canvas1"></canvas>
			<canvas class="rain-storm" id="canvas2"></canvas>
			<canvas class="rain-storm" id="canvas3"></canvas>
		</div>
		<div class="error-inner text-center">
			<div class="dz_error" data-text="404">404</div>
			<h2 class="error-head">We are sorry. But the page you are looking for cannot be found.</h2>
			<a href="index-1.html" class="site-button button-gradient button-md radius-no">Back To Homepage</a>
		</div>
	</div>
	
</div>
<!-- JavaScript  files ========================================= -->
<script src="js/jquery.min-1.js"></script><!-- JQUERY.MIN JS -->
<script src="plugins/bootstrap/js/popper.min-1.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="plugins/bootstrap/js/bootstrap.min-1.js"></script><!-- BOOTSTRAP.MIN JS -->
<script src="plugins/imagesloaded/imagesloaded-1.js"></script><!-- IMAGESLOADED -->
<script src="plugins/masonry/masonry-3.1.4-1.js"></script><!-- MASONRY -->
<script src="plugins/masonry/masonry.filter-1.js"></script><!-- MASONRY -->
<script src="plugins/lightgallery/js/lightgallery-all.min-1.js"></script><!-- LIGHTGALLERY -->
<script src="plugins/counter/waypoints-min-1.js"></script><!-- WAYPOINTS JS -->
<script src="plugins/counter/counterup.min-1.js"></script><!-- COUNTERUP JS -->
<script src="js/custom-1.js"></script><!-- CUSTOM FUCTIONS  -->
<script src="js/rain-strom-1.js"></script><!-- KENBERN JS -->
</body>
</html>
